@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;

.contentLayout {
  margin-block: $spacing-4;

  @include media-md {
    margin-bottom: calc($spacing-4 + 6rem);
  }
}
