@use "@gratia/ui/styles/layout/_flex.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_border.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_colors.scss" as *;

.verifyEmailContainer {
  @include flex-center;
  height: calc(100vh - $spacing-52);
  width: 100vw;
}

.verifyEmailContent {
  @include flex-center;
  @include flex-column;
  gap: $spacing-8;
  background-color: $bg-color;
  border: 1px solid $border-medium;
  border-radius: $radius-md;
  padding: $spacing-10;
  width: fit-content;
}

.verifyEmailContentHeader {
  @include flex-column;
  gap: $spacing-2;
}

.verifyEmailTitle {
  font-size: $text-2xl;
  font-weight: $font-bold;
  color: $text-primary-color;
  text-align: center;
}

.verifyEmailDescription {
  font-size: $text-sm;
  font-weight: $font-medium;
  color: $text-secondary-color;
  text-align: center;
}
