@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_colors.scss" as *;

.searchWrapper {
  margin-bottom: $spacing-3;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin-bottom: $spacing-2;

  &:last-child {
    margin-bottom: 0;
  }
}

.group {
  list-style: none;
  margin-top: $spacing-3;

  &:first-child {
    margin-top: 0;
  }
}

.groupTitle {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  color: $text-secondary-color;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: $spacing-2;
}