@use "@gratia/ui/styles/core/_position.scss" as *;

.heroBackground {
  @include full-cover;
  z-index: 0;
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.emblaContainer {
  display: flex;
  height: 100%;
}

.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

.backgroundImage {
  object-fit: cover;
  object-position: center;
  transition: opacity 1s ease-in-out;
}

// Embla'nın geçiş animasyonu için
.emblaSlide[data-embla-selected] {
  .backgroundImage {
    opacity: 1;
  }
}

.emblaSlide:not([data-embla-selected]) {
  .backgroundImage {
    opacity: 0;
  }
}
