@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;

.brandFilter {
  margin-bottom: $spacing-6;
}

.heading {
  margin: 0 0 $spacing-3;
  font-size: $text-sm;
  font-weight: $font-semibold;
  color: $text-primary-color;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin-bottom: $spacing-2;

  &:last-child {
    margin-bottom: 0;
  }
}
