@use "../../styles/core/_variables.scss" as *;

.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: spin 0.8s linear infinite;
  will-change: transform;
}

.spinner-sm {
  width: 12px;
  height: 12px;
}

.spinner-md {
  width: 16px;
  height: 16px;
}

.spinner-lg {
  width: 20px;
  height: 20px;
}

// Smooth spin animation (already defined in _variables.scss)
// Using the global spin keyframe
