@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_border.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-secondary-color;
  padding: $spacing-3 $spacing-4;
  @include rounded($radius-lg);
  @include mx(2);
}

.priceSection {
  display: flex;
  flex-direction: column;
  @include gap(1);
}

.currentPrice {
  font-size: $text-lg;
  font-weight: $font-bold;
  color: $text-primary-color;
  line-height: $leading-none;
}

.originalPrice {
  font-size: $text-sm;
  font-weight: $font-medium;
  color: $text-muted-color;
  text-decoration: line-through;
  line-height: $leading-none;
}

.addToCartButton {
  button {
    background-color: $bg-color !important;
    border: 1px solid $border-light !important;

    &:hover {
      transform: scale(1.1);
      box-shadow: $shadow-md;
      transition: all $transition-fast;
    }

    &:active {
      transform: scale(1);
      box-shadow: $shadow-sm;
      transition: all $transition-fast;
    }
  }
}

.inCart {
  .inCartIcon {
    @include flex(row, center, center);
    @include rounded($radius-full);
    @include gap(2);

    .inCartIconButton {
      @include flex(row, center, center);
      @include rounded($radius-full);
      @include gap(2);
      padding: $spacing-1;
    }

    .inCartDashIconButton {
      background-color: rgba($text-error-color, 0.1);
      border: 1px solid rgba($text-error-color, 0.2);
    }

    .inCartPlusIconButton {
      background-color: rgba($text-success-color, 0.1);
      border: 1px solid rgba($text-success-color, 0.2);
    }
  }
}
