@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_border.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;

.skeleton {
  @include py(6);
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  @include animate-fade-in($transition-slow);
}

.headerSkeleton {
  @include flex(row, flex-start, center);
  gap: $spacing-4;
  @include pb(6);
  @include border-b($border-1, $border-light);
}

.avatarSkeleton {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  @include animate-shimmer(2s);
  flex-shrink: 0;
}

.headerTextGroup {
  @include flex-column;
  gap: $spacing-2;
}

.nameSkeleton {
  width: 160px;
  height: 24px;
  @include rounded($radius-sm);
  @include animate-shimmer(2s);
}

.emailSkeleton {
  width: 200px;
  height: 16px;
  @include rounded($radius-sm);
  @include animate-shimmer(2s);
}

.menuLinkSkeleton {
  height: 52px;
  @include rounded($radius-lg);
  @include animate-shimmer(2s);
}