@use "@gratia/ui/styles/layout/_flex.scss" as *;
@use "@gratia/ui/styles/layout/_grid.scss" as *;
@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_border.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;

.container {
  @include flex-center;
  background: $bg-secondary-color;
  width: 100vw;
}

.form {
  background: $bg-color;
  border: 1px solid $border-medium;
  border-radius: $radius-md;
  padding: $spacing-10;
  width: $width-500;

  @include media-xs {
    width: 100%;
    margin-inline: $spacing-2;
  }
}

.brand {
  font-family: $font-family-logo;
  font-size: $text-4xl;
  font-weight: $font-normal;
  color: $text-primary-color;
  text-align: center;
  margin-bottom: $spacing-8;
}

.title {
  font-size: $text-lg;
  font-weight: $font-medium;
  color: $text-primary-color;
  text-align: center;
  margin-bottom: $spacing-8;
}

.formContent {
  @include form-grid-2-col;
}

.formField {
  @include form-field-half;

  @include media-xs {
    @include form-field;
  }
}

.formFieldFull {
  @include form-field;
}

.submitButton {
  width: 100%;
}

.alreadyHaveAccount {
  @include flex($align: center, $justify: center, $gap: $spacing-2);
  margin-top: $spacing-6;
}

.loginLink,
.termsPolicyLink {
  color: $text-link-color;
  font-weight: $font-medium;

  &:hover {
    color: $text-link-hover-color;
    text-decoration: underline;
  }
}
