@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;


.topHeaderLinks {
  list-style: none;
}

.topHeaderLinkItem {
  @include flex-center();
  height: 12px;
  transition: color 0.3s ease;

  &:hover {
    .topHeaderLinkItemTitle {
      color: $text-link-color;
    }
  }
}

.topHeaderLinkItemTitle {
  @include flex-center();
  font-size: $text-xs;
  font-weight: $font-medium;
  color: $text-muted-color;
  // Enhanced font rendering for sharper text
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
