@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;

.infoContainer {
  display: flex;
  flex-direction: column;
  @include gap(1);
}

.brandName {
  font-size: 0.65rem;
  font-weight: $font-semibold;
  color: $text-muted-color;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}

.productNameRow {
  margin: 0;
  line-height: $leading-tight;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productName {
  font-size: $text-sm;
  font-weight: $font-semibold;
  color: $text-primary-color;
}

.productDescription {
  font-size: $text-sm;
  font-weight: $font-normal;
  color: $text-muted-color;
}
