@use "../../styles/components/_button.scss" as *;
@use "../../styles/layout/_flex.scss" as *;
@use "../../styles/core/_variables.scss" as *;
@use "../../styles/core/colors" as *;

.button {
  @include flex(row, center, center);
  position: relative;
  border: none;
  border-radius: $button-radius;
  cursor: pointer;
  font-family: $font-family-sans;
  transition:
    all $transition-smooth,
    transform $transition-fast,
    box-shadow $transition-smooth;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
  will-change: transform, box-shadow;
  // Enhanced font rendering for sharper text
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Smooth hover effect
  &:hover:not(:disabled) {
    transform: translateY(-1px);
    box-shadow: $shadow-lg;
  }

  // Active state with press effect
  &:active:not(:disabled) {
    transform: translateY(0);
    box-shadow: $shadow-sm;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
    transform: none !important;
  }

  // Focus state for accessibility
  &:focus-visible {
    outline: 2px solid $interactive-focus-ring;
    outline-offset: 2px;
  }

  &.loading {
    cursor: not-allowed;

    .text {
      opacity: 0.3;
    }

    .icon {
      opacity: 0.3;
    }

    .loadingSpinner {
      opacity: 1;
    }
  }

  &-sm {
    height: $button-height-sm;
    padding: $button-padding-sm;
    font-size: $button-font-sm;
    font-weight: $button-font-weight-sm;
  }

  &-md {
    height: $button-height-md;
    padding: $button-padding-md;
    font-size: $button-font-md;
    font-weight: $button-font-weight-md;
  }

  &-lg {
    height: $button-height-lg;
    padding: $button-padding-lg;
    font-size: $button-font-lg;
    font-weight: $button-font-weight-lg;
  }

  &-primary {
    background: $primary-color;
    color: $text-on-primary-color;
    box-shadow: $shadow-sm;

    &:hover:not(:disabled) {
      background: $primary-color-dark;
      box-shadow: $shadow-primary;
    }

    &:active:not(:disabled) {
      background: $primary-color-700;
    }
  }

  &-secondary {
    background: $secondary-color;
    color: $text-on-secondary-color;
    box-shadow: $shadow-sm;

    &:hover:not(:disabled) {
      background: $secondary-color-dark;
      box-shadow: $shadow-error;
    }

    &:active:not(:disabled) {
      background: $secondary-color-dark;
    }
  }

  &-outlined {
    background: transparent;
    color: $primary-color;
    border: 1.5px solid $primary-color;
    box-shadow: none;

    &:hover:not(:disabled) {
      background: $primary-color-50;
      border-color: $primary-color-dark;
      box-shadow: $shadow-sm;
    }

    &:active:not(:disabled) {
      background: $primary-color-100;
    }
  }

  &-ghost {
    background: rgba($primary-color, 0.05);
    color: $text-secondary-color;
    box-shadow: none;

    &:hover:not(:disabled) {
      background: rgba($primary-color, 0.1);
      color: $text-primary-color;
      box-shadow: $shadow-xs;
    }

    &:active:not(:disabled) {
      background: rgba($primary-color, 0.15);
    }
  }
}

.text {
  flex: 1;
  text-align: center;
  transition: opacity 0.2s ease;
}

.icon {
  @include flex(row, center, center);
  flex-shrink: 0;
  transition: opacity 0.2s ease;

  &-left {
    margin-right: $button-icon-spacing-sm;
  }

  &-right {
    margin-left: $button-icon-spacing-sm;
  }

  .button-sm & {
    &-left {
      margin-right: $button-icon-spacing-sm;
    }

    &-right {
      margin-left: $button-icon-spacing-sm;
    }
  }

  .button-md & {
    &-left {
      margin-right: $button-icon-spacing-md;
    }

    &-right {
      margin-left: $button-icon-spacing-md;
    }
  }

  .button-lg & {
    &-left {
      margin-right: $button-icon-spacing-lg;
    }

    &-right {
      margin-left: $button-icon-spacing-lg;
    }
  }
}

.loadingSpinner {
  position: absolute;
  @include flex(row, center, center);
  width: 16px;
  height: 16px;
  color: currentColor;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.button-sm .icon {
  width: $button-icon-sm;
  height: $button-icon-sm;
}

.button-md .icon {
  width: $button-icon-md;
  height: $button-icon-md;
}

.button-lg .icon {
  width: $button-icon-lg;
  height: $button-icon-lg;
}
