@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_border.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;

.productFilters {
  @include flex-shrink(0);
  padding-block: $spacing-4;
  background: $bg-color;
  @include rounded($radius-md);
}

.actions {
  @include flex(column, flex-start, stretch, nowrap, $spacing-2);
  padding: $spacing-4;
  margin-top: $spacing-4;
  @include border-t($border-1, $border-light);
  position: sticky;
  bottom: 0;
  background: $bg-color;

  button {
    width: 100%;
  }
}
