@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;

.featuredProductsSection {
  @include py(10);
  background-color: $bg-color;
}

.container {
  width: 100%;
}

@include media-sm {
  .featuredProductsSection {
    @include pt(6);
    padding-bottom: calc($spacing-6 + 70px);
  }
}
