@use "@gratia/ui/styles/layout/_flex.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;
@use "@gratia/ui/styles/layout/_container.scss" as *;

.checkoutPagesLayout {
  @include container-xl;
}

.checkoutPagesHeader {
  @include flex-center;
  @include py(4);
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 420px;
  gap: $spacing-10;
  margin-top: $spacing-8;

  @include media-lg {
    grid-template-columns: 1fr;
    gap: $spacing-6;

    .sidebar {
      order: -1;
    }
  }
}

.mainContent {
  min-width: 0;
}
