@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;
@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_border.scss" as *;

.skeletonContainer {
  padding: 1rem;
  @include animate-fade-in($transition-slow);
}

.skeletonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.skeletonCard {
  @include rounded($radius-lg);
  overflow: hidden;
  background-color: $bg-color;
  @include border($border-1, $border-light);
  @include animate-fade-in-up($transition-slow);
}

.skeletonImage {
  width: 100%;
  height: 300px;
  @include animate-shimmer(2s);
  border-radius: 0;
}

.skeletonText {
  height: 16px;
  margin: 1rem;
  @include animate-shimmer(2s);
  @include rounded($radius-sm);
}

.skeletonTextShort {
  height: 16px;
  width: 60%;
  margin: 0 1rem 1rem;
  @include animate-shimmer(2s);
  @include rounded($radius-sm);
}
