@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_border.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;

.addToCartContainer {
  @include flex-row;
  @include align-center;
  @include gap(3);
  width: 100%;
}
