@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_border.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;

.profilePage {
  @include py(6);
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
}

.menuLink {
  @include flex(row, space-between, center);
  @include p(4);
  @include border($border-1, $border-light);
  @include rounded($radius-lg);
  font-size: $text-base;
  font-weight: $font-medium;
  color: $text-primary-color;
  text-decoration: none;
  transition: border-color $transition-fast;

  &:hover {
    border-color: $primary-color;
  }
}