@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;

.wrapper {
  @include flex-column;
}

.filterBar {
  flex-shrink: 0;
  margin-bottom: $spacing-4;

  @include media-lg-up {
    display: none;
  }
}

.mainRow {
  @include flex-column;
  flex: 1;
  min-width: 0;
  gap: $spacing-6;

  @include media-lg-up {
    @include flex-row;
    @include align-start;
  }
}

.sidebar {
  display: none;

  @include media-lg-up {
    display: block;
    flex-shrink: 0;
    width: 20rem;
    max-height: calc(100vh - 15rem);
    overflow-y: auto;
    position: sticky;
    top: $spacing-6;
  }
}

.content {
  flex: 1;
  min-width: 0;

  height: calc(100vh - 15rem);
  overflow-y: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}
