@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;

.wrapper {
  @include flex-column;
  padding-bottom: $spacing-10;
}

.filterBar {
  flex-shrink: 0;
  margin-bottom: $spacing-4;

  @include media-lg-up {
    display: none;
  }
}

.mainRow {
  @include flex-column;
  flex: 1;
  min-width: 0;
  gap: $spacing-6;

  @include media-lg-up {
    @include flex-row;
    @include align-start;
  }
}

.sidebar {
  display: none;

  @include media-lg-up {
    display: block;
    flex-shrink: 0;
    width: 280px;
    max-height: 150vh;
    overflow-y: auto;
    position: sticky;
    top: $spacing-6;
  }
}

.content {
  flex: 1;
  min-width: 0;
}
