@use "@gratia/ui/styles/core/_breakpoints.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;

$hero-content-max-width: 600px;

.heroContent {
  max-width: $hero-content-max-width;
  width: 100%;

  @include media-md {
    @include flex-center-column;
  }
}

.heroTitle {
  font-size: $text-6xl;
  font-weight: $font-bold;
  color: $text-primary-color;
  margin-bottom: $spacing-md;
  line-height: $leading-tight;
  text-align: left;

  @include media-md {
    font-size: $text-5xl;
    text-align: center;
  }

  @include media-sm {
    font-size: $text-4xl;
  }
}

.heroDescription {
  font-size: $text-2xl;
  color: $text-secondary-color;
  line-height: $leading-normal;
  text-align: left;
  margin-bottom: $spacing-xl;

  @include media-md {
    font-size: $text-xl;
    text-align: center;
  }
}
