@use "@gratia/ui/styles/core/_breakpoints.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;
@use "@gratia/ui/styles/core/_position.scss" as *;

$hero-header-height: 195px;
$hero-min-height-desktop: calc(100vh - $spacing-52);

$hero-header-height-mobile: 100px;
$hero-min-height-mobile: calc(100vh - $hero-header-height-mobile);

.heroSection {
  @include flex-center-column;

  position: relative;
  margin-top: calc($hero-header-height + $spacing-1);
  min-height: $hero-min-height-desktop;
  overflow: hidden;

  @include media-md {
    min-height: $hero-min-height-mobile;
    margin-top: calc($hero-header-height-mobile + $spacing-1);
  }
}

.heroContainer {
  @include position-relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  @include flex(row, center, center);
}
