@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;

.gratiaLogo {
  font-family: $font-family-logo;
  font-size: $text-4xl;
  font-weight: $font-bold;
  color: var(--text-primary);

  @media screen and (max-width: $breakpoint-lg) {
    font-size: $text-3xl;
  }

  @media screen and (max-width: $breakpoint-md) {
    font-size: $text-2xl;
  }

  @media screen and (max-width: $breakpoint-sm) {
    width: 100%;
    text-align: center;
    font-size: $text-xl;
  }
}
