@use "@gratia/ui/styles/core/_colors.scss" as *;
@use "@gratia/ui/styles/core/_variables.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;

:root {
  --background: #{$bg-color};
  --background-secondary: #{$bg-secondary-color};
  --text-primary: #{$text-primary-color};
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--text-primary);
  background: var(--background-secondary);
  font-family: $font-family-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
