@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/layout/_grid.scss" as *;
@use "@gratia/ui/styles/core/_breakpoints.scss" as *;

.productDetailContainer {
  @include grid-container;
  @include grid-cols-1;
  @include grid-gap-8;

  @include responsive(sm) {
    @include grid-cols-5;
  }

  @include responsive(md) {
    @include grid-cols-12;
  }
}

.imageGalleryContainer {
  width: 100%;
  height: 100%;

  @include col-span-1;

  @include responsive(sm) {
    grid-column: 2 / span 3;
  }

  @include responsive(md) {
    @include col-span-5;
  }

  @include responsive(lg) {
    @include col-span-5;
  }

  @include responsive(xl) {
    @include col-span-4;
  }
}

.productInfoContainer {
  width: 100%;

  @include col-span-1;

  @include responsive(sm) {
    @include col-span-5;
  }

  @include responsive(md) {
    @include col-span-7;
  }

  @include responsive(lg) {
    @include col-span-7;
  }

  @include responsive(xl) {
    @include col-span-5;
  }
}

.productSpecificationsContainer {
  @include col-span-1;
  margin-top: 2rem;

  @include responsive(sm) {
    @include col-span-5;
  }

  @include responsive(md) {
    @include col-span-12;
  }
}
