@use "@gratia/ui/styles/core/_spacing.scss" as *;
@use "@gratia/ui/styles/layout/_flex.scss" as *;

.productDetailContainer {
  display: grid;
  gap: $spacing-8;
  grid-template-areas: "imageGallery imageGallery productInfo productInfo productInfo";
}

.imageGalleryContainer {
  grid-area: imageGallery;
  width: 100%;
  height: 100%;
}

.productInfoContainer {
  grid-area: productInfo;
  width: 100%;
  height: 100%;
  @include flex-column;
  @include gap(6);
}

.productInfoHeader {
  @include flex-column;
  @include gap(2);
}
