@use "../../styles/core/breakpoints.scss" as *;
@use "../../styles/core/spacing.scss" as *;

// Container max-widths - Modern, consistent sizing
$container-max-width: 1440px;
$container-max-width-wide: 1600px;
$container-max-width-narrow: 800px;
$container-max-width-xl: 1280px;

// Container padding - Using spacing system
$container-padding: $spacing-6; // 24px
$container-padding-mobile: $spacing-4; // 16px
$container-padding-tablet: $spacing-5; // 20px

@mixin container(
  $max-width: $container-max-width,
  $padding: $container-padding,
  $padding-mobile: $container-padding-mobile
) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding-inline: $padding;

  // Tablet padding
  @include media-md {
    padding-inline: $container-padding-tablet;
  }

  // Mobile padding
  @include media-sm {
    padding-inline: $padding-mobile;
  }
}

@mixin container-default {
  @include container();
}

@mixin container-narrow {
  @include container($container-max-width-narrow);
}

@mixin container-wide {
  @include container($container-max-width-wide);
}

@mixin container-xl {
  @include container($container-max-width-xl);
}

@mixin container-fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-inline: $container-padding;

  @include media-sm {
    padding-inline: $container-padding-mobile;
  }
}
