@use "../../styles/core/breakpoints.scss" as *;

$container-max-width: 1440px;
$container-padding: 1.5rem;
$container-padding-mobile: 1rem;

@mixin container(
  $max-width: $container-max-width,
  $padding: $container-padding,
  $padding-mobile: $container-padding-mobile
) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    padding-inline: $container-padding;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding-inline: $container-padding-mobile;
  }
}

@mixin container-default {
  @include container();
}

@mixin container-narrow {
  @include container(800px);
}

@mixin container-wide {
  @include container(1400px);
}

@mixin container-fluid {
  @include container(100%);
}
