# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore.

.gcloudignore
.git
.gitignore
node_modules
.pnpm-store
npm-debug.log
.env
.env.local
dist
coverage
.vscode
.DS_Store
*.log
README.md