@use "@gratia/ui/styles/layout/_flex.scss" as *;
@use "@gratia/ui/styles/core/_spacing.scss" as *;


.registerPageWrapper {
  @include flex-center;

  height: calc(100vh - $spacing-52);
  width: 100vw;
}

.registerPageFormContainer {
  @include flex-center;
  height: 100%;
}
